@charset "utf-8";

/* =========================================================
   Comment template
========================================================= */

/* Comment template */




/* =========================================================
   Imports
========================================================= */
@import "normalize.css";




/* =========================================================
   Base
========================================================= */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: #333;
  font-size: 14px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.6;
}

body {
  min-width: 320px;
  background: #fff;
}

body.is-sp-menu-show {
  overflow: hidden;
}

a {
  color: #333;
}

a:hover {
  color: #999;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
}

img:focus {
  outline: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  /* TODO */
}

h2 {
  /* TODO */
}

h3 {
  /* TODO */
}

h4 {
  /* TODO */
}

h5 {
  /* TODO */
}

h6 {
  /* TODO */
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: YuGothic,"Yugothic",sans-serif;
}

h1,h2,h3,h4,p,ul,li {
  margin: 0;
  padding: 0;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.6;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

::selection {
  background-color: rgba(20, 20, 20, .2);
}

::-moz-selection {
  background-color: rgba(20, 20, 20, .2);
}

@media (max-width: 770px) {
  html {
    font-size: 12px;
  }

  body {
    overflow-x: hidden;
  }
}




/* =========================================================
   Icons
========================================================= */
[class^="icon-"],
[class*=" icon-"] {
  color: #fa0046;
}




/* =========================================================
   Utilities
========================================================= */

/* Clear */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}


/* Visibility */
.invisible {
  visibility: hidden !important;
}

.visible--xs-block,
.visible--xs-inline,
.visible--xs-inline-block,
.visible--sm-block,
.visible--sm-inline,
.visible--sm-inline-block,
.visible--md-block,
.visible--md-inline,
.visible--md-inline-block,
.visible--lg-block,
.visible--lg-inline,
.visible--lg-inline-block {
  display: none !important;
}

@media (max-width: 770px) {
  .visible--xs-block {
    display: block !important;
  }

  .visible--xs-inline {
    display: inline !important;
  }

  .visible--xs-inline-block {
    display: inline-block !important;
  }

  .hidden--xs {
    display: none !important;
  }
}

@media (min-width: 771px) and (max-width: 980px) {
  .visible--sm-block {
    display: block !important;
  }

  .visible--sm-inline {
    display: inline !important;
  }

  .visible--sm-inline-block {
    display: inline-block !important;
  }

  .hidden--sm {
    display: none !important;
  }
}

@media (min-width: 981px) and (max-width: 1200px) {
  .visible--md-block {
    display: block !important;
  }

  .visible--md-inline {
    display: inline !important;
  }

  .visible--md-inline-block {
    display: inline-block !important;
  }

  .hidden--md {
    display: none !important;
  }
}

@media (min-width: 1201px) {
  .visible--lg-block {
    display: block !important;
  }

  .visible--lg-inline {
    display: inline !important;
  }

  .visible--lg-inline-block {
    display: inline-block !important;
  }

  .hidden--lg {
    display: none !important;
  }
}


/* Background */
.bg-black {
  background-color: #000;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: #fff;
}


/* Link */
.link {
  /* TODO */
}

.link--blue {
  color: #3c4f72;
}

.link--strong {
  font-weight: bold;
}

.link--no-line {
  text-decoration: none;
}


/* Typography */
.text-xs {
  font-size: .78em;
}

.text-sm {
  font-size: .85em;
}

.text-md {
  font-size: 1em;
}

.text-lg {
  font-size: 1.14em;
}

.text-xl {
  font-size: 1.28em;
}

.text-normal {
  font-weight: normal;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}




/* =========================================================
   Animations
========================================================= */

/* Hover */
.hover--fade {
  -webkit-transition: opacity 180ms ease-out;
  transition: opacity 180ms ease-out;
}

.hover--fade:hover {
  opacity: .8;
}




/* =========================================================
   Layouts
========================================================= */


/* Container */
.container,
.container--fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container--fluid {
  max-width: 0;
}


/* Row */
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row--center {
  -webkit-justify-content: center;
  justify-content: center;
}

.row--gutter-80,
.row--gutter-70,
.row--gutter-60,
.row--gutter-50,
.row--gutter-40,
.row--gutter-30 {
  margin-right: -15px;
  margin-left: -15px;
}

.row--gutter-20 {
  margin-right: -10px;
  margin-left: -10px;
}


/* Column */
[class*="col--xs"] {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row--gutter-80 [class*="col--xs"],
.row--gutter-70 [class*="col--xs"],
.row--gutter-60 [class*="col--xs"],
.row--gutter-50 [class*="col--xs"],
.row--gutter-40 [class*="col--xs"],
.row--gutter-30 [class*="col--xs"] {
  padding-right: 15px;
  padding-left: 15px;
}

.row--gutter-20 [class*="col--xs"] {
  padding-right: 10px;
  padding-left: 10px;
}

.row--gutter-10 [class*="col--xs"] {
  padding-right: 5px;
  padding-left: 5px;
}

.col--xs-1 {
  -webkit-flex-basis: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col--xs-2 {
  -webkit-flex-basis: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col--xs-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col--xs-4 {
  -webkit-flex-basis: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col--xs-5 {
  -webkit-flex-basis: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col--xs-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col--xs-7 {
  -webkit-flex-basis: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col--xs-8 {
  -webkit-flex-basis: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col--xs-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col--xs-10 {
  -webkit-flex-basis: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col--xs-11 {
  -webkit-flex-basis: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col--xs-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}


/* Media queries */
@media (min-width: 771px) {
  /* Container */
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  /* Row */
  .row--gutter-80,
  .row--gutter-70,
  .row--gutter-60 {
    margin-right: -25px;
    margin-left: -25px;
  }

  /* Columns */
  [class*="col--sm"] {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row--gutter-80 [class*="col--sm"],
  .row--gutter-70 [class*="col--sm"],
  .row--gutter-60 [class*="col--sm"] {
    padding-right: 25px;
    padding-left: 25px;
  }

  .row--gutter-20 [class*="col--sm"] {
    padding-right: 10px;
    padding-left: 10px;
  }

  .row--gutter-10 [class*="col--sm"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .col--sm-1 {
    -webkit-flex-basis: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col--sm-2 {
    -webkit-flex-basis: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col--sm-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col--sm-4 {
    -webkit-flex-basis: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col--sm-5 {
    -webkit-flex-basis: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col--sm-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--sm-7 {
    -webkit-flex-basis: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col--sm-8 {
    -webkit-flex-basis: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col--sm-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col--sm-10 {
    -webkit-flex-basis: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col--sm-11 {
    -webkit-flex-basis: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col--sm-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 981px) {
  /* Container */
  .container {
    max-width: 980px;
  }

  /* Row */
  .row--gutter-80,
  .row--gutter-70,
  .row--gutter-60 {
    margin-right: -25px;
    margin-left: -25px;
  }

  .row--gutter-50 {
    margin-right: -20px;
    margin-left: -20px;
  }

  /* Columns */
  [class*="col--md"] {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row--gutter-80 [class*="col--md"],
  .row--gutter-70 [class*="col--md"],
  .row--gutter-60 [class*="col--md"] {
    padding-right: 25px;
    padding-left: 25px;
  }

  .row--gutter-50 [class*="col--md"],
  .row--gutter-40 [class*="col--md"] {
    padding-right: 20px;
    padding-left: 20px;
  }

  .row--gutter-30 [class*="col--md"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row--gutter-20 [class*="col--md"] {
    padding-right: 10px;
    padding-left: 10px;
  }

  .row--gutter-10 [class*="col--md"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .col--md-1 {
    -webkit-flex-basis: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col--md-2 {
    -webkit-flex-basis: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col--md-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col--md-4 {
    -webkit-flex-basis: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col--md-5 {
    -webkit-flex-basis: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col--md-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--md-7 {
    -webkit-flex-basis: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col--md-8 {
    -webkit-flex-basis: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col--md-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col--md-10 {
    -webkit-flex-basis: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col--md-11 {
    -webkit-flex-basis: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col--md-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1201px) {
  /* Container */
  .container {
    max-width: 1200px;
  }

  /* Row */
  .row--gutter-80 {
    margin-right: -40px;
    margin-left: -40px;
  }

  .row--gutter-70 {
    margin-right: -35px;
    margin-left: -35px;
  }

  .row--gutter-60 {
    margin-right: -30px;
    margin-left: -30px;
  }

  .row--gutter-50 {
    margin-right: -25px;
    margin-left: -25px;
  }

  /* Column */
  [class*="col--lg"] {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row--gutter-80 [class*="col--lg"] {
    padding-right: 40px;
    padding-left: 40px;
  }

  .row--gutter-70 [class*="col--lg"] {
    padding-right: 35px;
    padding-left: 35px;
  }

  .row--gutter-60 [class*="col--lg"] {
    padding-right: 30px;
    padding-left: 30px;
  }

  .row--gutter-50 [class*="col--lg"] {
    padding-right: 25px;
    padding-left: 25px;
  }

  .row--gutter-40 [class*="col--lg"] {
    padding-right: 20px;
    padding-left: 20px;
  }

  .row--gutter-30 [class*="col--lg"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row--gutter-20 [class*="col--lg"] {
    padding-right: 10px;
    padding-left: 10px;
  }

  .row--gutter-10 [class*="col--lg"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .col--lg-1 {
    -webkit-flex-basis: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col--lg-2 {
    -webkit-flex-basis: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col--lg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col--lg-4 {
    -webkit-flex-basis: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col--lg-5 {
    -webkit-flex-basis: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col--lg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--lg-7 {
    -webkit-flex-basis: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col--lg-8 {
    -webkit-flex-basis: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col--lg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col--lg-10 {
    -webkit-flex-basis: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col--lg-11 {
    -webkit-flex-basis: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col--lg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}




/* =========================================================
   Components
========================================================= */

/* Button */
.btn {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 40px 18px;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  transition-property: color, background;
  transition-duration: 180ms;
  transition-timing-function: ease-out;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  line-height: 1;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #000;
  background: #ededed;
}

.btn--left {
  text-align: left;
}

.btn--center {
  text-align: center;
}

.btn--right {
  text-align: right;
}

.btn--inline {
  display: inline-block;
  width: auto;
}

.btn__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  -webkit-transition: all 180ms ease-out;
  transition: all 180ms ease-out;
  color: #fa0046;
  font-size: 12px;
  line-height: 1;
}

@media (max-width: 770px) {
  .btn {
    font-size: 14px;
    font-weight: normal;
  }
}


/* section */
.section {
    clear: both;
    padding-top: 80px;
}

.section:last-child {
  padding-bottom: 80px;
}

.section__header {
    margin-bottom: 80px 0;
    text-align: center;
}

.section__header--2col {
    text-align: left;
}

@media (max-width: 980px) {
  .section {
    padding-top: 40px;
  }

  .section:last-child {
    padding-bottom: 40px;
  }
}

.border-line {
    border: 1px solid #e7e7e7;
}


/* header */
.header__inner {
  height: 70px;
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (max-width: 980px) {
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .header__inner {
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
  }

  .header__logo img {
    width: 50px;
    vertical-align: middle;
  }
}


/* header--sm */
.header--sm {
  display: none;
}

.header--sm__menu {
  display: none;
}

@media (max-width: 980px) {
  .header--sm {
    display: block;
  }

  .header--sm__menu {
    display: none;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }
}


/* share */
.share__list {
  float: right;
}

.share__item {
  margin-left: 15px;
  float: left;
  list-style: none;
}

@media (max-width: 980px) {
  .share--sm {
    display: block !important;
  }

  .share--sm .share__list {
    display: inline-block;
    margin: 10px auto;
    float: none;
  }

  .share {
    display: none;
  }

  .share__item {
    margin: 0 5px;
  }
}


/* nav */
.nav {
  border-bottom: 1px solid #e7e7e7;
}

.nav__list {
  display: flex;
  width: 840px;
  margin: 25px auto;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 980px) {
  .nav {
    display: none;
  }
}


/* nav-sm */
.nav__sm {
  display: block;
}

@media (max-width: 980px) {
  .nav--sm {
    position: relative;
    display: block;
    z-index: 2;
    border: none;
  }

  .nav__list--sm {
    display: block;
    width: 100%;
    margin: 0;
  }

  .nav__list--sm .nav__item {
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
  }

  .nav__list--sm .nav__item:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
}


/* contact */
._contact__header {
  margin-bottom: 30px;
}

._contact__body label {
  display: inline-block;
  width: 100px;
  line-height: 30px;
}

._contact__form input,
textarea {
  width: 100%;
}

._contact__form input {
  height: 30px;
}

._contact__form label img {
  vertical-align: middle;
}

._contact__form {
  display: flex;
  margin: 30px 0;
}

._contact__button {
  text-align: right;
}

._contact__button button {
  width: 170px;
  padding: 5px 0;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  transition: 0.2s;
}

._contact__button button:hover {
  background-color: #e7e7e7;
}

@media (max-width: 980px) {
  ._contact [class*="col--sm"]:first-child {
    text-align: center;
  }

  ._contact [class*="col--sm"]:last-child {
    margin-top: 40px;
  }
}


/* footer */
footer {
  margin-top: 80px;
  width: 100%;
  background-color: #7d7d7d;
}

.footer__wrapper {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}

.footer__list {
  float: left;
  margin: 60px 0;
}

.footer__item {
  display: inline-block;
  margin-right: 10px;
}

.footer__item a {
  color: #fff;
}

.footer__logo {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -23px;
}

.footer__copy {
  padding-bottom: 50px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 770px) {
  footer {
    margin-top: 40px;
  }

  .footer__list {
    float: none;
    margin: 0 0 40px;
    padding: 40px 15px 0 15px;
  }

  .footer__item {
    display: block;
    margin: 5px 0;
  }

  .footer__logo {
    margin-top: 0;
    right: 15px;
  }

  .footer__copy {
    font-size: 11px;
    padding-bottom: 40px;
  }
}


/*==============================
 * col2
 * ===========================*/
.col2 {
  margin: 60px 0;
}

.col2__title {
  font-size: 12px;
  font-weight: normal;
}

.col2__list {
  margin-top: 30px;
  padding-left: 40px;
}

.col2__item {
  margin-bottom: 30px;
  list-style: initial;
}

.col2__item h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.col2__txt {
  font-size: 14px;
}

@media (max-width: 980px) {
  .col2 {
    margin: 40px 0;
  }

  .col2 [class*="col--xs"]:last-child {
    margin-top: 20px;
  }

  .col2__list {
    margin-top: 20px;
    padding-left: 20px;
  }

  .col2__item {
    margin-bottom: 20px;
  }

  .col2__item h3 {
    font-size: 14px;
  }

  .col2__txt {
    font-size: 12px;
  }
}


/*==============================
 * section
 * ===========================*/
.section__header {
  text-align: center;
}

.section__title {
  font-size: 16px;
  font-weight: normal;
}
