* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: YuGothic,"Yugothic",sans-serif;
}

h1,h2,h3,h4,p,ul,li {
  margin: 0;
  padding: 0;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.6;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}



/*===========================
 * hero
 * ========================*/
.hero {
  width: 100%;
}

.hero__inner {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
}

.hero__inner img {
  display: block;
  margin: 0 auto;
}

.hero__second {
  padding-top: 160px;
  font-size: 100px;
  font-weight: normal;
  line-height: 1;
  font-family: 'Josefin Sans', sans-serif;
}

.hero__count {
  padding-top: 60px;
  font-size: 36px;
  font-family: 'Josefin Sans', sans-serif;

}

.hero__second,
.hero__count {
  text-align: center;
  color: #fff;
}

.hero__logo {
  padding-top: 150px;
  padding-bottom: 50px;
}

@media (max-width: 770px) {
  .hero__inner {
    position: relative;
    height: 100vh;
  }

  .hero__inner * {
    padding: 0;
  }

  .hero__second {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 70px;
  }

  .hero__count {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 28px;
  }

  .hero__logo {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .hero__icon {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}



/*===========================
 * about
 * ========================*/
._about__head {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

._about__body {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._about__body img {
  margin: 0 auto;
}

._about__lead {
  display: inline-block;
  font-size: 14px;
  line-height: 1.75;
}

@media (max-width: 770px) {
  ._about__head {
    font-size: 18px;
  }

  ._about__body {
    flex-direction: column;
    padding-top: 40px;
  }

  ._about__body img {
    width: 150px;
    height: auto;
    margin-top: 20px;
  }
}



/*===========================
 * news
 * ========================*/
._news__header {
  text-align: center;
}

._news__body {
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

._news__list {
  max-width: 970px;
  margin: 0 auto;
}

._news__item {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  line-height: 25px;
}

._news__item:last-child {
  margin-bottom: 30px;
}

._news__date {
  margin-right: 40px;
}

._news__title {
  font-weight: bold;
}

@media (max-width: 770px) {
  ._news__body {
    margin-top: 20px;
  }

  ._news__item {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.75;
  }

  ._news__item:last-child {
    margin-bottom: 15px;
  }

  ._news__date {
    margin-right: 20px;
  }
}



/*===========================
 * column
 * ========================*/
._column__header {
  text-align: center;
}

._column__body {
  margin-top: 50px;
}

._column__body img {
  max-width: none;
  width:100%;
}

._column__title {
  margin-top: 10px;
}

._column__date {
  margin-top: 10px;
  float: right;
}

@media (max-width: 770px) {
  ._column__body {
    margin-top: 20px;
  }
}
