
/*==============================
 * nav-list
 * ===========================*/
.nav-list--other {
  margin: 0 auto 25px !important;
}


/*==============================
 * cause
 * ===========================*/
@media (max-width: 980px) {
  ._cause {
    padding-top: 80px !important;
  }
}


/*==============================
 * point
 * ===========================*/
._point .col2 {
  margin-bottom: 0;
}
